<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis全局配置文件 -->
<configuration>
	

	<!-- mybatis默认没有开启延迟加载和缓存，所以使用时需要手动配置开启 -->
	<settings>
		<!-- 开启延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 默认是积极加载，此处修改为按需要加载，具体用到某个对象才加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<!-- 开启二级缓存(默认是开启的，此处设置是为了方便阅读)-->
	   <setting name="cacheEnabled" value="true"/> 
	</settings>

	<!-- 实体类别名 -->
	<typeAliases>
		<!-- 定义单个别名 -->
		<!-- <typeAlias alias="User" type="com.yichuan.entity.User"></typeAlias> -->
		<!-- 批量定义别名：指定要定义类的包名，mybatis会自动扫描该包中的类，然后自动定义别名，所定义的别名是类名（首字母不区分大小写） -->
		<package name="com.yichuan.entity" />
	</typeAliases>

</configuration>
